@font-face {
    font-family: 'Silkscreen';
    src: url('../fonts/slkscr.ttf')  format('truetype');
}


@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -99999999px 0;}
}

body {
    background: #2e4664;
    background-image: url('../images/night_sky.png'); /* fallback */
    background-position: right 45px bottom;
    animation: backgroundScroll 999999s linear infinite; /* Adjust timing here according to speed required */
}

div.header {
    background: linear-gradient(to bottom, rgb(55, 117, 162) 10%, rgba(255,0,0,0));
    padding-top: 20px;
    padding-bottom: 20px;
}

div.padder {
    padding-bottom: 50px;
}

div.game {
    display: block;
    text-align:center;
}

#hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
body {
    font-family: Silkscreen, sans-serif;
    color: white;
}
div.footer {
    margin-top: 20px;
    display: block;
    align-content: center;
    text-align: center;
}

a {
    color: white;
    animation: none;
    -moz-animation:none;
    -webkit-animation:none;
}

/* animated hover effect */
a:hover {
    animation: blink 0.5s;
    -moz-animation:blink 0.5s infinite;
    -webkit-animation:blink 0.5s infinite;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}
 @keyframes blink {
    0% {
        color: #58ADF9;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #58ADF9;
    }
}
/* Firefox */
 @-moz-keyframes blink {
    0% {
        color: #fff;
    }
    50% {
        color: #58ADF9;
    }
    100% {
        color: #fff;
    }
}
/* Safari and Chrome */
 @-webkit-keyframes blink {
    0% {
        color: #fff;
    }
    50% {
        color: #58ADF9;
    }
    100% {
        color: #fff;
    }
}
/* Opera */
 @-o-keyframes blink {
    0% {
        color: #fff;
    }
    50% {
        color: #58ADF9;
    }
    100% {
        color: #fff;
    }
}

.game iframe {
    -webkit-box-shadow: 10px 10px 0px -1px rgb(2, 47, 62);
    -moz-box-shadow: 10px 10px 0px -1px rgb(2, 47, 62);
    box-shadow: 5px 5px 0px -1px rgb(2, 47, 62);
    border: solid 1px black;
}

.main-content {
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 30px 0 30px;
}